.StoreContainer {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 100%;
}

.CenterStoreContainer {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: max-content;
    overflow-y: hidden;
}

.StoreTopBar {
    padding: 1.5%;
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.StoreTopBar > h1 {
    margin: 0;
    cursor: pointer;
    font-size: 1.8vw;
}

.StoreTopBar > h1:hover {
    text-decoration: underline;
    text-decoration-color:rgb(114,62,176);
}

.SearchBar {
    padding: .6% 0% .6% 0%;
    display: flex;
    border-radius: 10px;
    width: 50%;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244,244,245);
}

.SearchBar > input[type="text"] {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    border:0;
    font-size: medium;
    background-color: rgb(244,244,245);
}
.SearchBar > input[type="text"]:focus{
    outline: none;
} 

.PopularContainer {
    padding: 1.5%;
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
}

.PopularCategoryTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PopularCategoryTopBar > h2 {
    margin: 0;
    font-size: 1.4vw;
}

.PopularCategoryTopBar > h3 {
    margin: 0;
    color: rgb(114,62,176);
    font-weight: none;
    cursor: pointer;
}

.PopularCategoryTopBar > h3:hover {
    text-decoration: underline;
    text-decoration-color:rgb(114,62,176);
}

.BookCategoryList {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100%;
    justify-content: space-around;
    overflow: auto;
}

.BookListEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transition: all 500ms;
    transition-timing-function: ease-out;
}

.BookListEntry > img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    position: relative;
    display: flex;
    max-width: 29%;
    margin: 0% 5% 0% 5% ;
    transition: all 500ms;
    transition-timing-function: ease-out;
}


.BookListEntry > img:hover  {
    max-width: 38%;
    transition: all 500ms;
    transition-timing-function: ease-out;
}

.BookListEntry > h4 {
    margin: 5% 0% 0% 0%;
    font-size: .9vw;
}
.BookListEntry > h5 {
    margin: 5% 0% 0% 0%;
    font-weight: 100;
    font-size: .7vw;
}

.CategoryContainer {
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.CategoryContainer > h3 {
    margin: 0;
}


.CategoryListEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: -webkit-fill-available;
}

.CategoryListEntry > img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    position: relative;
    display: flex;
    max-width: 70%;
    margin: 5% 0% 5% 0%;
    transition: all 500ms;
    transition-timing-function: ease-out;
}

.CategoryListEntry > img:hover {
    max-width: 75%;
}



/* LIST VIEW RULES */
#style-1:-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ListContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    overflow-y: auto;
}

.ListCategoryContainer {
    padding: 1.5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    overflow-y: auto;
    margin-bottom: 21.5%;
    margin-top: 2%;
}
