.StoreContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.StoreTopBar {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.StoreTopBar > h1 {
    margin: 0;
}

.SearchBar {
    padding: .6% 0% .6% 0%;
    display: flex;
    border-radius: 10px;
    width: 50%;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244,244,245);
}

.SearchBar > input[type="text"] {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    border:0;
    font-size: medium;
    background-color: rgb(244,244,245);
}
.SearchBar > input[type="text"]:focus{
    outline: none;
} 

.PopularContainer {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
}

.PopularCategoryTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PopularCategoryTopBar > h2 {
    margin: 0;
}

.PopularCategoryTopBar > h3 {
    margin: 0;
    color: rgb(114,62,176);
    font-weight: none;
}

.BookCategoryList {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100%;
}

.BookListEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 3% 0% 3% 0%;
    margin: 1%;
}

.BookListEntry > img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    position: relative;
    display: flex;
    max-width: 50%;
    margin: 0% 5% 0% 5% ;
    transition: all 500ms;
    transition-timing-function: ease-out;
}


.BookListEntry > img:hover {
    max-width: 52%;
}

.BookListEntry > h4 {
    margin: 5% 0% 0% 0%;
}
.BookListEntry > h5 {
    margin: 5% 0% 0% 0%;
    font-weight: 100;
}

.CategoryContainer {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.CategoryContainer > h3 {
    margin: 0;
}


.CategoryListEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: -webkit-fill-available;
    margin: 1%;
    padding: 5%;
}

.CategoryListEntry > img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    position: relative;
    display: flex;
    max-width: 70%;
    margin: 5% 0% 5% 0%;
    transition: all 500ms;
    transition-timing-function: ease-out;
}

.CategoryListEntry > img:hover {
    max-width: 75%;
}