.Container {
    height: -webkit-fill-available;
    max-width: 12%;
    min-width: 12%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Container>h1{
    margin-bottom: 1%;
    font-weight: 900;
}

hr {
    display: flex;
    color: grey;
    width: 80%;
    border-radius: 50%;
}


.ProfileContainer {
    display: flex;
    width: -webkit-fill-available;
    padding: 2%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

.ProfileContainer > img {
    aspect-ratio: 1 / 1;
    max-width: 25%;
}

.ProfileContainer > h2 {
    font-weight: 600;
    margin: 1%;
}

.ProfileContainer > h4 {
    margin: 1%;
    font-size: large;
    color: grey;
}

.ToggleMenu {
    padding: 5% 15% 5% 15%;
    position: relative;
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ToggleEntry {
    width: -webkit-fill-available;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    height: max-content;
    margin: 8% 0% 8% 0%;
}

.ToggleEntry > label {
    color: rgb(147,147,153);
    display: flex;
    font-size: large;
    font-weight: bold;
    width: -webkit-fill-available;
    text-align: center;
    white-space: nowrap;
    font-size: 1.2vw;
}

.ToggleIcon {
    display: flex;
    padding: 1%;
    border-radius: 10px;
    background-color: #f4f4f5;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 10%;
}

.ToggleIcon > img {
    display: flex;
    aspect-ratio: 1 / 1;
    max-width: 30px;
}


.ToggleEntry > input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: -webkit-fill-available;;
    height: -webkit-fill-available;;
    cursor: pointer;
    z-index: 3;
}

.ToggleEntry > input[type="button"] {
    opacity: 0;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    cursor: pointer;
    z-index: 3;
}

.ToggleEntry > input[type="radio"]:checked+.ToggleIcon+label { 
    color: rgb(120,70,180);
    font-weight: bolder;
}
.ToggleEntry > input[type="radio"]:checked+.ToggleIcon { 
    background-color: rgb(120,70,180);
}
.ToggleEntry > input[type="radio"]:checked+.ToggleIcon>img { 
    filter: invert(100%);
}






