body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

code {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
